{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Administração {% endblock %}

{% block main%}
<h3>Novo Cliente</h3>
    <!--
        * form para criar um formulário
        * action para onde enviar aós clicar em salvar (Da Erro no Update)
        * method para saber o que vai fazer, Ex:POST para postar
        * enctype para fazer downloard do arquivo de mídia
        * csrf_token para não colocar scripts no formulário-->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|bootstrap}}
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
{% endblock %}